$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1440px;
$xl: 1920px;

$primary-color: #04232B;
$secondary-color: #145465;
$header-text: white;
$underline-box:  #29d5ff;
$placeholder: black;
$form-label: white;
$error-message: #d21777;
$button-submit-form:  #29d5ff;
$button-text: white;