<div class="container">
<div class="toolbar" role="banner">
  <span>The Frontend Store</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small" (click)="navigate()" tabindex="0">Credit Card Payment</div>
  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

  <router-outlet></router-outlet>

  <div ng-view class="view-frame"></div>
</div>
</div>
