@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.spacer {
  flex: 1;
}

.toolbar {
  @include display-flex(row, center, center, wrap);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $primary-color;
  color: $header-text;
  font-weight: 600;
  padding-left: 20px;
  font-size: 24px;
}

.container {
  @include display-flex(column, center, center, wrap);
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/image.png");
  border: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $primary-color;
    opacity: 0.94;
  }
}

.content {
  @include display-flex(column, center, center, wrap);
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  position: relative;
  z-index: 3;
}

.card-container {
  @include display-flex(column, center, center, wrap);
  margin-top: 16px;
}

.card {
  @include display-flex(column, center, center, wrap);
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 200px;
  cursor: pointer;
  
  &:focus {
    outline: 0;
  }
}

.card.card-large {
  height: 200px;
  width: 200px;
}

.card.highlight-card {
  background-color: $secondary-color;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

