@import "~src/app/stylesheets/mixins";
@import "~src/app/stylesheets/variables";
@import "~src/app/stylesheets/elements";

.form-control {
      padding: 10px;
      font-size: 18px;
      background-color: grey;
      margin-bottom: 15px;
      opacity: 0.5;
      border: 2px solid $underline-box;

      &::placeholder {
        color: $placeholder;
      }
}

.control-label {
  color: $form-label;
}

.alert-danger {
  color: $error-message;
}

.btn-success {
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  background-color: $button-submit-form;
  color: $button-text;
  border: 0;
  cursor: pointer;
}
