  <form class="form-horizontal" role="form" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Amount</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="amount" [ngClass]="{ 'is-invalid': (formControls.amount.dirty || formControls.amount.touched) && formControls.amount.errors }">
          <div *ngIf="!formControls.amount.valid && (formControls.amount.dirty || formControls.amount.touched)" class="invalid-feedback">
              <div *ngIf="formControls.amount.errors" class="alert alert-danger">Invalid Amount.</div>
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Card Name</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" formControlName="nameOnCard" placeholder="Name" [ngClass]="{ 'is-invalid': (formControls.nameOnCard.dirty || formControls.nameOnCard.touched) && formControls.nameOnCard.errors }">
          <div *ngIf="!formControls.nameOnCard.valid && (formControls.nameOnCard.dirty || formControls.nameOnCard.touched)" class="invalid-feedback">
              <div *ngIf="formControls.nameOnCard.errors" class="alert alert-danger">Invalid Cardholder Name.</div>
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input class="form-control" type="number" formControlName="cardNumber" placeholder="xxxx xxxx xxxx xxxx" [ngClass]="{ 'is-invalid': formControls.cardNumber.errors  && (formControls.cardNumber.dirty || formControls.cardNumber.touched)}">
          <div *ngIf="!formControls.cardNumber.valid && (formControls.cardNumber.dirty || formControls.cardNumber.touched)" class="invalid-feedback">
              <div *ngIf="formControls.cardNumber.errors" class="alert alert-danger">Invalid Card Number.</div>
          </div>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">

              <select class="form-control col-sm-2" formControlName="expirationMonth" id="expiry-month" [ngClass]="{ 'is-invalid': !formControls.expirationMonth.valid && (formControls.expirationMonth.dirty || formControls.expirationMonth.touched) }">
                <option value="01">Jan-01</option>
                <option value="02">Feb-02</option>
                <option value="03">Mar-03</option>
                <option value="04">Apr-04</option>
                <option value="05">May-05</option>
                <option value="06">June-06</option>
                <option value="07">July-07</option>
                <option value="08">Aug-08</option>
                <option value="09">Sep-09</option>
                <option value="10">Oct-10</option>
                <option value="11">Nov-11</option>
                <option value="12">Dec-12</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" formControlName="expirationYear" [ngClass]="{ 'is-invalid': formControls.expirationYear.errors && (formControls.expirationYear.dirty || formControls.expirationYear.touched) }" >
                <option value="2019">2020</option>
                <option value="2020">2021</option>
                <option value="2021">2022</option>
                <option value="2022">2023</option>
                <option value="2023">2024</option>
                <option value="2024">2025</option>
              </select>
            </div>
            <div *ngIf="( !formControls.expirationMonth.valid && (formControls.expirationMonth.dirty || formControls.expirationMonth.touched) ) || ( !formControls.expirationYear.valid && (formControls.expirationYear.dirty || formControls.expirationYear.touched))" class="invalid-feedback">
              <div *ngIf="formControls.expirationMonth.errors || formControls.expirationYear.errors" class="alert alert-danger">Invalid Date of Expiration.</div>
          </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">CVV</label>
        <div class="col-sm-3">
          <input class="form-control" formControlName="cardCVVNumber" placeholder="xxx" [ngClass]="{ 'is-invalid': formControls.cardCVVNumber.errors && (formControls.cardCVVNumber.dirty || formControls.cardCVVNumber.touched) }">
          <div *ngIf="!formControls.cardCVVNumber.valid && (formControls.cardCVVNumber.dirty || formControls.cardCVVNumber.touched)" class="invalid-feedback">
              <div *ngIf="formControls.cardCVVNumber.errors" class="alert alert-danger">Invalid CVV / CVC Number.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn btn-success">Submit payment</button>
        </div>
      </div>
      <div *ngIf="paymentForm.invalid" class="alert alert-danger">{{errorMessage}}</div>
  </form>


